@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-titles {
    padding: 4vh;
}

#main-title {
    margin-bottom: 2vh;
    font-size: 8.5vh;
    max-width: 50vh;
    color: var(--main-color-text);
}

#bar-navigation {
    padding-top: 3vh;
    padding-left: 5vh;
    width: 100%;
    left: 0; right: 0;
    top: 0;
    margin: 0;
}

#bar-navigation .options {
    background: 0;
    border: 0;
    display: inline-block;
    margin-right: 2vh;
}