@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    padding-left: 10vh;
}

header .container-titles {
    margin-top: 20vh;
}

header .container-titles #main-title {
    margin-bottom: 2vh;
    font-size: 8.5vh;
    max-width: 50vh;
    color: var(--main-color-text);
}

header .container-titles #sub-title {
    font-size: 2vh;
    color: #808080;
}

header #bar-navigation {
    padding-top: 3vh;
    width: 100%;
    left: 0; right: 0;
    top: 0;
    margin: 0;
}

header #bar-navigation .options {
    background: 0;
    border: 0;
    display: inline-block;
    margin-right: 2.8vh;
}