@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-titles {
    margin: 4%;
}

#main-title {
    margin-bottom: 2%;
    font-size: 5vh;
    color: var(--main-color-text);
}

#bar-navigation {
    padding: 2vh;
    padding-left: 4vh;
    border: 2px solid #000;
    width: 100%;
    left: 0; right: 0;
    top: 0;
    margin: 0;
}

#bar-navigation .options {
    background: 0;
    display: inline-block;
}