@charset "utf-8";


:root {
    --main-text-color: #fff;
    --second-text-color: #000;
    /* SELETOR DE PÁGINA/HOME*/
    --page-selector-color: #000;
    --second-page-selector-color: #fff;
   
}