@charset "utf-8"; 

* {
  margin: 0;
  padding: 0;
}
 
@media (max-height: 915px) and (max-width: 419px)
{
  
#intro {
  display: none;
}

#notations .containment-title {
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 10;
}

#notations .title-section {
  width: 90%;
  padding: 3% 0% 3% 0%;
  margin: auto;
  color: rgba(0,0,0,0.582);
  font-weight: 500;
  border-radius: .8em;
  background: rgba(219,219,219,0.612);
  backdrop-filter: blur(15px);
  font-size: 16px;
  font-weight: 600;
}
#notations .navbar {
 
}

#notations .onTop {
  
}
#notations .containment-card-notations {
  position: relative;
  z-index: 1;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 40vh;
}

#notations .containment-card-notations .cards {
  position: relative;
  border-radius: 1.5em;
  width: 80%;
  height: auto;
  margin: 12% auto;
  padding: 6%;
  display: flex;
  background: #000000;
  text-align: left;
}

#notations .containment-card-notations .cards .container .topEl {
  display: inline-block;
}

#notations .containment-card-notations .cards .container .user img {
  border-radius: .8em;
}

#notations .containment-card-notations .cards .container .user {
  position: absolute;
  top: 20px;
  left: 6%;
  width: 47px;
  height: 47px;
  overflow: hidden;
}

#notations .containment-card-notations .cards .container .text {
  color: #ffffff;
  position: absolute;
  top: 25px;
  left: 24%;
}

#notations .containment-card-notations .cards .container .text h1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4%;
}

#notations .containment-card-notations .cards .container .icon {
  position: absolute;
  top: 20px;
  right: 10%;
  padding: 3%;
  border-radius: 8em;
}

#notations .containment-card-notations .cards .container .text p {
  font-size: 13px;
  color: rgba(255,255,255,0.282);
}

#notations .containment-card-notations .cards .message {
  margin-top: 63px;
  margin-bottom: 45px;
  font-size: 14px;
  z-index: 1;
  color: #ffffff;
  text-align: left;
}

#notations .containment-card-notations .cards .adms {
  position: absolute;
  bottom: 17px;
}

#notations .containment-card-notations .cards .adms .img1 {
  background: #000000;
  width: 23px;
  height: 23px;
  border-radius: 8em;
  z-index: 1;
}

#notations .containment-card-notations .cards .adms .img2 {
  position: absolute;
  background: #000000;
  left: 2.5vh;
  width: 23px;
  height: 23px;
  border-radius: 8em;
  z-index: 2;
}

#notations .containment-card-notations .cards .adms .text {
  position: absolute;
  color: #000000;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 8em;
  top: 0px;
  left: 12vh;
  z-index: 1;
  font-size: 13px;
  font-weight: 700;
}

#notations .containment-card-notations .cards .adms .img3 {
  position: absolute;
  left: 5vh;
  background: #000000
  margin-left: -4vh;
  width: 23px;
  height: 23px;
  border-radius: 8em;
  z-index: 3;
}

#notations .containment-card-notations .cards .adms .img4 {
  position: absolute;
  left: 7vh;
  background: #000000
  margin-left: -4vh;
  width: 23px;
  height: 23px;
  border-radius: 8em;
  z-index: 3;
}


#home .loading{
  position: absolute;
  top: 0;
  left: -1000%;
  width: 100%;
  height: 100vh;
  animation: loading 3.4s;
  background: #ffffff;
  text-align: center;
  z-index: 200;
}

#home .loading .name-uiFace {
  color: #000000;
  font-weight: 700;
}

#home .loading2{
  position: absolute;
  top: 0;
  left: -1000%;
  width: 100%;
  height: 100vh;
  animation: loading 0.4s;
  background: #ffffff;
  z-index: 55;
}

@keyframes loading {

    0%,
    25%,
    50%,
    75%,
    100%{
      backdrop-filter: blur(15px);
      left: 0;
    }
  }
  
   .lds-spinner {
     margin: 70% auto 1%;
     position: relative;
     width: 24px;
     height: 24px;
     background: none;
     border: 2.6px solid #000;
     border-radius: 8em;
     animation: spiner .9s linear infinite;
   }
   
@keyframes spiner {
  
    100% {
      transform: rotate(360deg);
    }
  }
   
   .lds-spinner div {
     position: absolute;
     top: 5px;
     left: 5px;
     background: #000;
     border-radius: 8em;
     border: 2.5px solid #000;
   }
   
#notations {
  position: absolute;
  height: 100vh;
  display: none;
}

#websites {
  display: none;
}

#emails {
  display: none;
}

#groups {
  display: none;
}

#evidences {
  display: none;
}
  
#home {
  display: block;
  background: #ffffff;
  transition: width .5s, background 1s, height 0s;
  height: 100vh;
}

#home .side-menu {
  display: none;
}

#schedules .top-menu .user {
  position: absolute;
  background-image: url('../../../media/IMG_20221223_182141.jpg');
  background-position: center;
  background-size: cover;
  width: 47px;
  height: 47px;
  top: 2.5%;
  right:  5%;
  border-radius: 1.4em;
  border: 0;
  z-index: 50;
}
/*
#home .top-menu .title-app img {
  background: #cccccc;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 8em;
}
*/
#schedules .title-schedules {
  position: relative;
  color: #000000;
  margin-left: 6%;
  margin-bottom: 2%;
  z-index: 1;
}

#schedules .sub-title-schedules {
  position: relative;
  color: #000000;
  margin-left: 6%;
  margin-bottom: 10%;
  max-width: 70%;
  font-size: 13px;
  z-index: 1;
}

#schedules .divisor {
  position: relative;
  background: rgba(151,151,151,0.517);
  width: 89%;
  height: 1px;
  margin: 0 auto 10%;
  border: 0;
  border-radius: 8em;
  z-index: 1;
}

#schedules .containment-support {
  display: flex;
  overflow: hidden;
}

#schedules .containment-support .block-info {
  width: 84%;
  background: #000000;
  padding: 3%;
  color: #ffffff;
  margin: 0 auto 6%;
  border-radius: .8em .8em .8em .8em;
  position: relative;
}

#schedules .containment-support .img1 {
  background: #000000;
  width: 27px;
  height: 27px;
  border-radius: 8em;
  z-index: 1;
}

#schedules .containment-support .img2 {
  position: absolute;
  background: #000000;
  left: 3vh;
  width: 27px;
  height: 27px;
  border-radius: 8em;
  z-index: 2;
}

#schedules .containment-support .text {
  position: absolute;
  color: #ffffff;
  top: 17.5px;
  left: 12vh;
  z-index: 1;
  font-size: 13px;
}

#schedules .containment-support .img3 {
  position: absolute;
  left: 5vh;
  background: #000000
  margin-left: -4vh;
  width: 27px;
  height: 27px;
  border-radius: 8em;
  z-index: 3;
}

#schedules .containment-support .img4 {
  position: absolute;
  left: 7vh;
  background: #000000
  margin-left: -4vh;
  width: 27px;
  height: 27px;
  border-radius: 8em;
  z-index: 3;
}

#schedules .containment-support .icon {
  position: absolute;
  top: 17.5px;
  right: 10px;
  background: none;
  border: none;
  border-radius: 8em;
}

#schedules .containment-title-page {
  width: 100%;
}

#schedules .containment-title-page li {
  display: inline-block;
  width: 48%;
}

#schedules .containment-title-page .sub-container1 {
  text-align: left;
}

#schedules .containment-title-page .sub-container2 {
  text-align: right;
}

#schedules .containment-title-page .title-page-card {
  font-family: Tahoma;
  font-size: 16.1px;
  font-weight: 500;
  color: #000000;
  margin-left: 10%;
}

#schedules .inscription-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.282);
  margin-right: 4%;
}

#schedules .containment-card-schedules {
  padding: 4%;
  display: flex;
  overflow: hidden;
}

#schedules .containment-card-schedules .card-schedules {
  position: relative;
  /*background-image: url('../../../media/IMG_20221224_102948~2.jpg');
  background-position: center;
  background-size: cover;*/
  background: rgba(219,219,219,0.612);
  width: 800px;
  height: 15vh;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  padding: 6%;
}

#schedules .containment-card-schedules .logo-schedules {
  background: none;
  background-image: url('../../../media/icon-multiple.png');
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: .8em;
  border: 0;
  margin-left: 1%;
}

#schedules .containment-card-schedules .icon {
  position: absolute;
  top: 12%;
  right: 6%;
  background: rgba(0,0,0,0.077);
  border: none;
  border-radius: 8em;
  width: 40px;
  height: 40px;
}

#schedules .containment-card-schedules .marcador {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  text-align: center;
}

#schedules .containment-card-schedules .marcador button {
  display: block;
  margin: auto;
  border: 0;
  border-radius: 8em;
}

#schedules .containment-card-schedules .marcador .m1 {
  width: 20px;
  height: 2px;
  background: #000000;
  margin-top: 3%;
  
}

#schedules .containment-card-schedules .marcador .m2 {
  width: 13px;
  height: 2px;
  background: #000000;
  margin-top: .5%;
}

#schedules .containment-card-schedules .title-section {
  margin-top: 4%;
  font-weight: 700;
  color: #000000;
}

#schedules .containment-card-schedules .subtitle {
  margin-top: 1%;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

#schedules .containment-card-schedules .sublabel {
  margin-top: 1%;
  font-weight: 400;
  color: rgba(0,0,0,0.444);
}

#schedules .containment-card-schedules .sub-image {
  color: rgba(0,0,0,0.592);
  font-size: 10px;
}

#home .bottom-menu-containment {
  position: fixed;
  top: auto; bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: flex;
}

#home .bottom-menu {
  background: rgba(255,255,255) /*rgba(255,255,255,0.284)*/;
  backdrop-filter: blur(15px);
  width: 95%;
  text-align: center;
  padding: 3% 0 3% 0;
  margin: auto;
  border-radius: 1.2em;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.549);
}

#home .bottom-menu .options { 
  display: inline;
  width: 22%;
  padding: 3%;
  border: none;
  color: rgba(255,255,255,0.707);
  background: 0;
  font-size: 23px;
  border-radius: 8em;
}

#home .bottom-menu .transition-animation { 
  position: absolute;
  top: 15%;
  left: 4.8%;
  padding: 3%;
  width: 22%;
  background: var(--page-selector-color);
  color: var(--page-selector-color);
  font-size: 23px;
  border-radius: .9em;
  border: 0;
  transition: left 0.4s;
  z-index: -1;
}

#home .bottom-menu .op1 { 
  color: #000000;
}

#home .bottom-menu .op4 { 
  color: #ffffff;
}

#home .bottom-menu .containment-remaining-buttons {
  display: none;
  
}
}
